
nav a {
  padding: 5rem;
  text-decoration: none;
  margin-top: 25px;
  display: inline-block;
  background-color: #0b54e7df;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: rgba(106, 3, 240, 0.567);
  background-color: #42545C;
}
nav a:active {
  background-color: black;
}

.navigation-item {
  margin: 12px;
  cursor: pointer;

}

table {
  width: 100%;
  color: #dd1d04d0;
  background-color: #0a54d5;
  margin: 25px; 
}

section {
  display: table;
}

